@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  20%, 60% { transform: translateX(-10px); }
  40%, 80% { transform: translateX(10px); }
}

.swal2-popup.shake {
  animation: shake 0.4s;
}

.react-select__control {
  @apply border border-gray-300 rounded px-1 shadow-sm;
}

.react-select__control--is-focused {
  @apply ring-2 ring-blue-500 border-blue-500;
}

.react-select__menu {
  @apply text-gray-700;
}
